.todolist {
  height: 50vh;
  width: 50%;
  background-color: burlywood;
  color: rgb(59, 39, 12);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  padding: 10px;

  & .item {
    background-color: aliceblue;
    border-radius: 10px;
    padding: 5px;
    width: 70%;
  }

  & .todoInput {
    margin-top: 20px;
    background-color: #333;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    width: 70%;
    padding: 10px;
    font-size: 20px;
  }

  & .todoButton {
    padding: 15px 18px;
    font-size: 18px;
    background-color: rgb(221, 221, 221);
    color: rgb(0, 0, 0);
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: 0.3s all;

    &:hover {
      background-color: #333;
      color: wheat;
    }
  }
}
